@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--ide-Panel-background);
    color: var(--ide-Panel-foreground);
    font-size: var(--ide-font-size);
    font-family: var(--ide-font-family);
  }

  :root {
    --user-message-bg: var(--ide-background-secondary);
  }

  h1 {
    font-size: 1.75rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.15rem;
    font-weight: 600;
  }

  small {
    font-size: 0.875rem;
  }

  button:focus {
    outline: none;
    border: none;
  }

  input, select, textarea {
    background: var(--ide-TextField-background);
    color: var(--ide-TextField-foreground);
    border: 1px solid var(--ide-TextField-borderColor);
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
  }

  input:focus, select:focus, textarea:focus {
    border-color: var(--ide-TextField-focusedBorderColor);
    outline: none;
  }

  input::selection, textarea::selection {
    background: var(--ide-TextField-selectionBackground);
    color: var(--ide-TextField-selectionForeground);
  }
  table td, table th {
    border: 1px solid var(--ide-Table-gridColor);
    padding: 0.5rem;
  }

  pre, code {
    background: var(--ide-editor-bg);
    font-family: var(--ide-code-font-family);
    font-size: var(--ide-code-font-size);
  }

  ul, ol {
    list-style-position: outside;
    margin-left: 1rem;
    padding-left: var(--ide-list-indent);
    margin-top: var(--ide-paragraph-spacing);
    margin-bottom: var(--ide-paragraph-spacing);
  }

  li {
    margin: calc(var(--ide-paragraph-spacing) * 0.3) 0;
  }

  *::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    position: absolute;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--ide-scrollbar-color);
    opacity: 0.8;
    border-radius: 0;
  }

  *::-webkit-scrollbar-thumb:hover {
    opacity: 1;
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  }
}

@keyframes tooltip-in {
  from {
    opacity: 0;
    translate: 0 4px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
